openapi: 3.0.0
info:
  title: neurostore api
  version: '1.0'
  description: Create studysets for meta-analysis
  contact:
    name: James D Kent
    email: jamesdkent21@gmail.com
    url: 'https://github.com/jdkent'
servers:
  - url: 'https://neurostore.org/api'
    description: production
  - url: 'http://localhost:80/api'
    description: testing
paths:
  /pipelines/:
    get:
      summary: GET a list of pipelines
      tags:
        - pipelines
      parameters:
        - $ref: '#/components/parameters/paginate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline-list'
    post:
      summary: POST/create a pipeline
      tags:
        - pipelines
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline'
      responses:
        '201':
          description: Created
        '401':
          description: Unauthorized - Authentication required
  /pipelines/{id}:
    get:
      summary: GET a pipeline by ID
      tags:
        - pipelines
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline'
    put:
      summary: PUT/update a pipeline by ID
      tags:
        - pipelines
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline'
      responses:
        '200':
          description: OK
    delete:
      summary: DELETE a pipeline by ID
      tags:
        - pipelines
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content

  /pipeline-configs/:
    get:
      summary: GET a list of pipeline configs
      tags:
        - pipeline-configs
      parameters:
        - name: pipeline
          in: query
          description: Filter configs by pipeline name
          required: false
          schema:
            type: array
            items:
              type: string
              example: 'TestPipeline'
        - $ref: '#/components/parameters/paginate'
        - name: has_embeddings
          in: query
          description: Filter configs as whether they have embeddings saved.
          schema:
            type: boolean
        - name: embedding_dimensions
          in: query
          description: Filter configs by number of dimensions in the embeddings.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline-config-list'
    post:
      summary: POST/create a pipeline config
      tags:
        - pipeline-configs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline-config'
      responses:
        '201':
          description: Created
  /pipeline-configs/{id}:
    get:
      summary: GET a pipeline config by ID
      tags:
        - pipeline-configs
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline-config'
    put:
      summary: PUT/update a pipeline config by ID
      tags:
        - pipeline-configs
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline-config'
      responses:
        '200':
          description: OK
    delete:
      summary: DELETE a pipeline config by ID
      tags:
        - pipeline-configs
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
    
  /pipeline-study-results/:
    get:
      summary: GET a list of pipeline run results
      tags:
        - pipeline-study-results
      parameters:
        - $ref: '#/components/parameters/paginate'
        - name: feature_filter
          in: query
          description: >
            Filter results by feature content. Format: "PipelineName[:version]:field_path=value".
            Examples:
              - "TestPipeline:1.0.0:groups.diagnosis=ADHD" (specific version)
              - "TestPipeline:groups.diagnosis=ADHD" (latest version)
            
            Field path supports array notation with [], regex search with ~, and comparisons with =, >, <, >=, <=.
          required: false
          schema:
            type: array
            items:
              type: string
              example: 'TestPipeline:1.0.0:groups.diagnosis=ADHD'
        - name: feature_flatten
          in: query
          required: false
          schema:
            type: boolean
        - name: pipeline_config
          in: query
          description: >
            Filter results by pipeline config content. Format: "PipelineName[:version]:config_path=value".
            Examples:
              - "TestPipeline:1.0.0:preprocessing.smoothing=8" (specific version)
              - "TestPipeline:model.type=linear" (latest version)
            
            Config path supports array notation with [], regex search with ~, and comparisons with =, >, <, >=, <=.
          required: false
          schema:
            type: array
            items:
              type: string
              example: 'TestPipeline:1.0.0:preprocessing.smoothing=8'
        - name: feature_display
          in: query
          description: >
            Filter results by pipeline name and optionally version. Format: "pipeline_name[:version]".
            Examples:
              - "TestPipeline" (all results from pipeline)
              - "TestPipeline:1.0.0" (results from specific version)
            Multiple values can be provided to get results from multiple pipelines/versions.
          required: false
          schema:
            type: array
            items:
              type: string
              example: 'TestPipeline:1.0.0'
        - name: study_id
          in: query
          description: Filter results by base study ID
          required: false
          schema:
            type: array
            items:
              type: string
        - name: version
          in: query
          description: Filter results by pipeline config version
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline-study-result-list'
    post:
      summary: POST/create a pipeline run result
      tags:
        - pipeline-study-results
      parameters:
        - $ref: '#/components/parameters/paginate'
        - name: feature_filter
          in: query
          description: >
            Filter results by feature content. Format: "PipelineName[:version]:field_path=value".
            Examples:
              - "TestPipeline:1.0.0:groups.diagnosis=ADHD" (specific version)
              - "TestPipeline:groups.diagnosis=ADHD" (latest version)
            
            Field path supports array notation with [], regex search with ~, and comparisons with =, >, <, >=, <=.
          required: false
          schema:
            type: array
            items:
              type: string
              example: 'TestPipeline:1.0.0:groups.diagnosis=ADHD'
        - name: feature_flatten
          in: query
          required: false
          schema:
            type: boolean
        - name: pipeline_config
          in: query
          description: >
            Filter results by pipeline config content. Format: "PipelineName[:version]:config_path=value".
            Examples:
              - "TestPipeline:1.0.0:preprocessing.smoothing=8" (specific version)
              - "TestPipeline:model.type=linear" (latest version)
            
            Config path supports array notation with [], regex search with ~, and comparisons with =, >, <, >=, <=.
          required: false
          schema:
            type: array
            items:
              type: string
              example: 'TestPipeline:1.0.0:preprocessing.smoothing=8'
        - name: feature_display
          in: query
          description: >
            Filter results by pipeline name and optionally version. Format: "pipeline_name[:version]".
            Examples:
              - "TestPipeline" (all results from pipeline)
              - "TestPipeline:1.0.0" (results from specific version)
            Multiple values can be provided to get results from multiple pipelines/versions.
          required: false
          schema:
            type: array
            items:
              type: string
              example: 'TestPipeline:1.0.0'
        - name: study_id
          in: query
          description: Filter results by base study ID
          required: false
          schema:
            type: array
            items:
              type: string
        - name: version
          in: query
          description: Filter results by pipeline config version
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline-study-result-post'
            # No description here, matching base-studies pattern
      responses:
        '201':
          description: Created
        '200':
          description: OK (search results)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline-study-result-list'
  /pipeline-study-results/{pipeline_study_result_id}:
    get:
      summary: GET a pipeline run result by ID
      tags:
        - pipeline-study-results
      parameters:
        - name: pipeline_study_result_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline-study-result'
    put:
      summary: PUT/update a pipeline run result by ID
      tags:
        - pipeline-study-results
      parameters:
        - name: pipeline_study_result_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline-study-result'
      responses:
        '200':
          description: OK
    delete:
      summary: DELETE a pipeline run result by ID
      tags:
        - pipeline-study-results
      parameters:
        - name: pipeline_study_result_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
  /studysets/:
   get:
     summary: GET a list of studysets
     tags:
       - studysets
     responses:
       '200':
         description: OK
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/studyset-list'
     description: Get a list of studysets.
     parameters:
       - $ref: '#/components/parameters/search'
       - $ref: '#/components/parameters/sort'
       - $ref: '#/components/parameters/page'
       - $ref: '#/components/parameters/desc'
       - $ref: '#/components/parameters/page_size'
       - $ref: '#/components/parameters/paginate'
       - $ref: '#/components/parameters/nested'
       - $ref: '#/components/parameters/name'
       - $ref: '#/components/parameters/description'
       - $ref: '#/components/parameters/source_id'
       - $ref: '#/components/parameters/unique'
       - $ref: '#/components/parameters/source'
       - $ref: '#/components/parameters/authors'
       - $ref: '#/components/parameters/user_id'
     security:
        - JSON-Web-Token: []
        - {}
   post:
     summary: POST/create a studyset
     parameters:
       - $ref: '#/components/parameters/source_id'
       - $ref: '#/components/parameters/source'
       - $ref: '#/components/parameters/copy_annotations'
     responses:
       '200':
         description: OK
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/studyset-return'
     tags:
       - store
       - studysets
     description: Create a studyset. When `source_id` is provided, Neurostore clones an existing studyset owned by any user into a new studyset owned by the caller, copying studies and (by default) annotations.
     security:
       - JSON-Web-Token: []
     requestBody:
       content:
         application/json:
           schema:
             $ref: '#/components/schemas/studyset-request'
  '/studysets/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: GET a studyset
      tags:
        - store
        - studysets
      responses:
        '200':
          description: studyset found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studyset-return'
              examples: {}
            application/gzip:
              schema:
                type: object
                properties: {}
        '404':
          $ref: '#/components/responses/404'
      description: Retrieve the information of a studyset with the matching studyset ID.
      parameters:
        - $ref: '#/components/parameters/nested'
        - $ref: '#/components/parameters/summary'
        - $ref: '#/components/parameters/gzip'
    put:
      summary: PUT/update a studyset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studyset-return'
        '422':
          $ref: '#/components/responses/422'
      description: Update a studyset.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/studyset-request'
      tags:
        - store
        - studysets
      security:
        - JSON-Web-Token: []
    delete:
      summary: DELETE a studyset
      responses:
        '200':
          description: OK
      description: delete a studyset
      security:
        - JSON-Web-Token: []
      tags:
        - store
        - studysets
  /studies/:
    get:
      summary: GET a list of studies
      tags:
        - store
        - studies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/study-list'
              examples: {}
      description: List studies
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/desc'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/paginate'
        - $ref: '#/components/parameters/nested'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/description'
        - $ref: '#/components/parameters/source_id'
        - $ref: '#/components/parameters/unique'
        - $ref: '#/components/parameters/source'
        - $ref: '#/components/parameters/authors'
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/data_type'
        - $ref: '#/components/parameters/map_type'
        - $ref: '#/components/parameters/studyset_owner'
        - $ref: '#/components/parameters/level'
        - $ref: '#/components/parameters/pmid'
        - $ref: '#/components/parameters/doi'
        - $ref: '#/components/parameters/flat'
      security:
        - JSON-Web-Token: []
        - {}
    parameters: []
    post:
      summary: POST/create a study
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/study-return'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/study-request'
        description: ''
      tags:
        - store
        - studies
      description: Create a study
      security:
        - JSON-Web-Token: []
      parameters:
        - $ref: '#/components/parameters/source'
        - $ref: '#/components/parameters/source_id'
  '/studies/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: GET a study
      tags:
        - store
        - studies
      responses:
        '200':
          description: Study Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/study-return'
              examples: {}
        '404':
          $ref: '#/components/responses/404'
      description: Get a study.
      parameters:
        - $ref: '#/components/parameters/nested'
        - $ref: '#/components/parameters/studyset_owner'
        - $ref: '#/components/parameters/flat'
    put:
      summary: PUT/update a study
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/study-return'
        '422':
          $ref: '#/components/responses/422'
      description: Update a study.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/study-request'
      tags:
        - store
        - studies
      security:
        - JSON-Web-Token: []
    delete:
      summary: DELETE a study
      responses:
        '200':
          description: OK
      description: delete a study
      security:
        - JSON-Web-Token: []
      tags:
        - store
        - studies
  /analyses/:
    get:
      summary: GET list of analyses
      tags:
        - analyses
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/analysis-list'
              examples: {}
      description: List all analyses performed across studies.
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/desc'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/paginate'
        - name: study
          in: query
          required: false
          description: Filter tables by study id
          schema:
            type: string
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/nested'
    parameters: []
    post:
      summary: POST/create an analysis
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/analysis-return'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/analysis-request'
      tags:
        - analyses
        - store
      description: create an analysis
      parameters: []
      security:
        - JSON-Web-Token: []
  '/analyses/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: GET an analysis
      tags:
        - analyses
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/analysis-return'
        '404':
          $ref: '#/components/responses/404'
      description: Information pertaining to a particular analysis within a study.
      parameters:
        - $ref: '#/components/parameters/nested'
    put:
      summary: PUT/update an analysis
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/analysis-return'
        '422':
          $ref: '#/components/responses/422'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/analysis-request'
      tags:
        - analyses
        - store
      description: Update an existing analysis.
      security:
        - JSON-Web-Token: []
    delete:
      summary: DELETE an analysis
      responses:
        '200':
          description: OK
      description: delete an analysis
      security:
        - JSON-Web-Token: []
      tags:
        - analyses
        - store
  /tables/:
    get:
      summary: GET list of tables
      tags:
        - tables
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/table-list'
      description: List all tables across studies.
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/desc'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/paginate'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/description'
        - $ref: '#/components/parameters/nested'
    post:
      summary: POST/create a table
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/table-return'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/table-request'
      tags:
        - tables
        - store
      description: create a table
      parameters: []
      security:
        - JSON-Web-Token: []
  '/tables/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: GET a table
      tags:
        - tables
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/table-return'
        '404':
          $ref: '#/components/responses/404'
      description: Information about a specific table.
      parameters:
        - $ref: '#/components/parameters/nested'
    put:
      summary: PUT/update a table
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/table-return'
        '422':
          $ref: '#/components/responses/422'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/table-request'
      tags:
        - tables
        - store
      description: update a table
      parameters: []
      security:
        - JSON-Web-Token: []
    delete:
      summary: DELETE a table
      responses:
        '200':
          description: OK
      description: delete a table
      security:
        - JSON-Web-Token: []
      tags:
        - tables
        - store
  /points/:
    get:
      summary: Get Points
      tags:
        - points
        - store
      parameters:
        - $ref: '#/components/parameters/paginate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/point-list'
      description: list points in database
    post:
      summary: POST Points
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/point-return'
      tags:
        - points
        - store
      description: add a point to an analysis
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/point-request'
  '/points/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: GET a point
      tags:
        - points
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/point-return'
              examples: {}
        '404':
          description: Not Found
      description: Information about a particular MRI coordinate
    put:
      summary: PUT/update a point
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/point-return'
        '422':
          $ref: '#/components/responses/422'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/point-request'
      tags:
        - points
        - store
      description: Update a particular MRI coordinate.
      security:
        - JSON-Web-Token: []
    delete:
      summary: DELETE a point
      responses:
        '200':
          description: OK
      description: delete a point
      security:
        - JSON-Web-Token: []
      tags:
        - points
        - store
  /images/:
    get:
      summary: GET a list of images
      tags:
        - images
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/image-list'
      description: Retrieve and list images.
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/desc'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/paginate'
        - $ref: '#/components/parameters/filename'
        - $ref: '#/components/parameters/analysis_name'
        - $ref: '#/components/parameters/value_type'
        - $ref: '#/components/parameters/space'
    post:
      summary: POST/create an image
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/image-return'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/image-request'
      tags:
        - images
        - store
      description: Create an image
      security:
        - JSON-Web-Token: []
  '/images/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: GET an image
      tags:
        - images
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/image-return'
        '404':
          $ref: '#/components/responses/404'
      description: Retrieve information about a particular image from an analysis.
    put:
      summary: PUT/update an image
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/image-return'
        '422':
          $ref: '#/components/responses/422'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/image-request'
        description: ''
      tags:
        - images
        - store
      description: Update a specific image.
      security:
        - JSON-Web-Token: []
    delete:
      summary: DELETE an image
      responses:
        '200':
          description: OK
      description: delete an image
      security:
        - JSON-Web-Token: []
      tags:
        - images
        - store
  /conditions/:
    get:
      summary: GET Conditions
      tags:
        - conditions
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/condition-list'
      description: Get all conditions
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/desc'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/paginate'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/description'
    post:
      summary: POST/Create a condition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/condition-return'
      description: Create a condition
      security:
        - JSON-Web-Token: []
      tags:
        - conditions
        - store
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/condition-request'
  '/conditions/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: GET a condition
      tags:
        - conditions
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/condition-return'
        '404':
          $ref: '#/components/responses/404'
      description: 'Retrieve a condition (e.g., 2-back) that can be used in contrasts (e.g., 2-back - 1-back)'
    put:
      summary: PUT/update a condition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/condition-return'
        '422':
          $ref: '#/components/responses/422'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/condition-request'
        description: ''
      tags:
        - conditions
        - store
      description: update a condition
      security:
        - JSON-Web-Token: []
    delete:
      summary: DELETE a condition
      responses:
        '200':
          description: OK
      description: delete a condition
      security:
        - JSON-Web-Token: []
      tags:
        - conditions
        - store
  /annotations/:
    parameters: []
    get:
      summary: Your GET endpoint
      tags:
        - annotations
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annotation-list'
      description: get annotations for an available studyset
      parameters:
        - $ref: '#/components/parameters/studyset_id'
        - $ref: '#/components/parameters/paginate'
    post:
      summary: Post Annotation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annotation-return'
      description: Create an annotation
      security:
        - JSON-Web-Token: []
      tags:
        - annotations
        - store
      parameters:
        - $ref: '#/components/parameters/source'
        - $ref: '#/components/parameters/source_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/annotation-request'
  '/annotations/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags:
        - annotations
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annotation-return'
      description: get an individual annotation
      parameters:
        - $ref: '#/components/parameters/export'
    put:
      summary: Update an annotation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annotation-return'
      description: edit an existing annotation
      tags:
        - annotations
        - store
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/annotation-request'
    delete:
      summary: DELETE an annotation
      responses:
        '200':
          description: OK
      description: delete annotation
      security:
        - JSON-Web-Token: []
      tags:
        - annotations
        - store
  /users/:
    get:
      summary: Your GET endpoint
      tags:
        - user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user-list'
      description: get list of users
      security:
        - JSON-Web-Token: []
    post:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      description: create a user
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user'
      tags:
        - user
  '/users/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Individual User Profile
      tags:
        - user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      description: get an individual user
    put:
      summary: Update Individual Profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      description: update an individual user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user'
      security:
        - JSON-Web-Token: []
      tags:
        - user
  /base-studies/:
    get:
      summary: ''
      tags:
        - studies
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base-study-list'
      parameters:
        - $ref: '#/components/parameters/nested'
        - name: year_min
          in: query
          description: Minimum publication year (inclusive) for study search
          required: false
          schema:
            type: integer
        - name: x
          in: query
          description: X coordinate for spatial query (requires y, z, and radius)
          required: false
          schema:
            type: number
            example: 10
        - name: y
          in: query
          description: Y coordinate for spatial query (requires x, z, and radius)
          required: false
          schema:
            type: number
            example: 20
        - name: z
          in: query
          description: Z coordinate for spatial query (requires x, y, and radius)
          required: false
          schema:
            type: number
            example: 30
        - name: radius
          in: query
          description: Radius for spatial query (requires x, y, and z)
          required: false
          schema:
            type: number
            example: 6
        - name: year_max
          in: query
          description: Maximum publication year (inclusive) for study search
          required: false
          schema:
            type: integer
            example: 2020
        - name: feature_filter
          in: query
          description: >
            Filter studies by feature content. Format: "PipelineName[:version]:field_path=value".
            Examples:
              - "TestPipeline:1.0.0:predictions.age_mean>20" (specific version)
              - "TestPipeline:groups.diagnosis=ADHD" (latest version)
            
            Field path supports array notation with [], regex search with ~, and comparisons with =, >, <, >=, <=.
          required: false
          schema:
            type: array
            items:
              type: string
              example: 'TestPipeline:1.0.0:predictions.age_mean>20'
        - name: pipeline_config
          in: query
          description: >
            Filter studies by pipeline config content. Format: "PipelineName[:version]:config_path=value".
            Examples:
              - "TestPipeline:1.0.0:settings.min_age=20" (specific version)
              - "TestPipeline:model.type=linear" (latest version)
            
            Config path supports array notation with [], regex search with ~, and comparisons with =, >, <, >=, <=.
          required: false
          schema:
            type: array
            items:
              type: string
              example: 'TestPipeline:1.0.0:settings.min_age=20'
        - name: feature_display
          in: query
          description: display features from pipelines
          required: false
          schema:
            type: string
        - name: semantic_search
          in: query
          description: Semantic search query string
          required: false
          schema:
            type: string
        - name: pipeline_config_id
          in: query
          description: Pipeline configuration identifier to filter studies
          required: false
          schema:
            type: string
        - name: distance_threshold
          in: query
          description: Distance threshold for semantic search (default 0.5)
          required: false
          schema:
            type: number
            format: float
            example: 0.5
        - name: overall_cap
          in: query
          description: Maximum number of overall results to return (default 3000)
          required: false
          schema:
            type: integer
            example: 3000
        - name: feature_flatten
          in: query
          required: false
          schema:
            type: boolean
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/desc'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/description'
        - $ref: '#/components/parameters/authors'
        - $ref: '#/components/parameters/level'
        - $ref: '#/components/parameters/data_type'
        - $ref: '#/components/parameters/map_type'
        - $ref: '#/components/parameters/is_oa'
        - $ref: '#/components/parameters/publication'
        - $ref: '#/components/parameters/pmid'
        - $ref: '#/components/parameters/doi'
        - $ref: '#/components/parameters/neurovault_id'
        - $ref: '#/components/parameters/flat'
        - $ref: '#/components/parameters/info'
        - $ref: '#/components/parameters/paginate'
      security:
        - JSON-Web-Token: []
        - {}
    post:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/base-study-return'
                  - type: array
                    items:
                      $ref: '#/components/schemas/base-study-return'
      security:
        - JSON-Web-Token: []
        - {}
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/base-study'
                - type: array
                  x-stoplight:
                    id: ufcpin3lhrdgq
                  items:
                    $ref: '#/components/schemas/base-study'
      tags:
        - studies
        - store
  '/base-studies/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags:
        - studies
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base-study-return'
      parameters:
        - $ref: '#/components/parameters/flat'
        - $ref: '#/components/parameters/info'
        - $ref: '#/components/parameters/nested'
    put:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base-study-return'
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/base-study'
      tags:
        - studies
        - store
  /annotation-analyses/:
    get:
      summary: Get annotation analyses
      tags:
        - analyses
        - annotations
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/note-collection-list'
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/note-collection-list'
      parameters:
        - $ref: '#/components/parameters/paginate'
    post:
      summary: Your POST endpoint
      tags:
        - analyses
        - annotations
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/note-collection-return'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/note-collection-request'
      security:
        - JSON-Web-Token: []
      description: |-
        This endpoint does not allow for creation, only modification of existing annotation-analyses.
        If you wish to create an annotation-analysis, post to the annotations endpoint and/or add the analysis
        to the appropriate study in the studyset, and the annotation-analysis will be created automatically. 
  '/annotation-analyses/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags:
        - analyses
        - store
        - annotations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/note-collection-return'
      x-stoplight:
        id: 0bluiswi2nwdw
      security:
        - {}
        - JSON-Web-Token: []
    put:
      summary: Your PUT endpoint
      tags:
        - analyses
        - annotations
        - store
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/note-collection-return'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/note-collection-request'
      security:
        - JSON-Web-Token: []
  /pipeline-embeddings/:
    get:
      summary: List pipeline embeddings
      tags:
        - pipeline-embeddings
      parameters:
        - $ref: '#/components/parameters/paginate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline-embedding-list'
  '/pipeline-embeddings/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Get a pipeline embedding by id
      tags:
        - pipeline_embeddings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline-embedding'
        '404':
          $ref: '#/components/responses/404'
components:
  schemas:
    ErrorDetail:
      type: object
      required:
        - code
        - message
      properties:
        field:
          type: string
          description: Field name that caused the error
          example: "source"
        code:
          type: string
          description: Machine-readable error code
          example: "INVALID_VALUE"
        message:
          type: string
          description: Human-readable error message
          example: "invalid source, choose from: 'neurostore'"
        context:
          type: object
          description: Additional error context
          additionalProperties: true

    ErrorResponse:
      type: object
      required:
        - status
        - title
        - detail
        - timestamp
        - request_id
      properties:
        status:
          type: integer
          description: HTTP status code
          example: 400
        title:
          type: string
          description: Short, human-readable summary
          example: "Bad Request"
        detail:
          type: string
          description: Human-readable explanation
          example: "The request contains invalid parameters"
        type:
          type: string
          description: URI reference for error type
          default: "about:blank"
        instance:
          type: string
          description: URI reference for specific occurrence
          example: "/api/studies/123"
        errors:
          type: array
          description: Field-specific validation errors
          items:
            $ref: '#/components/schemas/ErrorDetail'
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp
        request_id:
          type: string
          description: Unique request identifier
          example: "a1b2c3d4"

    pipeline:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        version:
          type: string
        study_dependent:
          type: boolean
        ace_compatible:
          type: boolean
        pubget_compatible:
          type: boolean
        derived_from:
          type: string
          nullable: true
    pipeline-list:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/pipeline'
        metadata:
          $ref: '#/components/schemas/metadata'
    pipeline-config:
      type: object
      properties:
        id:
          type: string
        config:
          type: object
    pipeline-config-list:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/pipeline-config'
        metadata:
          $ref: '#/components/schemas/metadata'
    pipeline-study-result-list:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/pipeline-study-result'
        metadata:
          $ref: '#/components/schemas/metadata'
    pipeline-study-result-post:
      oneOf:
        - $ref: '#/components/schemas/pipeline-study-result-search'
        - $ref: '#/components/schemas/pipeline-study-result'
    pipeline-study-result-search:
      type: object
      properties:
        study_ids:
          type: array
          items:
            type: string
      required:
        - study_ids
    pipeline-study-result:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        pipeline_config_id:
          type: string
        base_study_id:
          type: string
        config_id:
          type: string
        date_executed:
          type: string
          format: date-time
        file_inputs:
          type: object
        result_data:
          type: object
        status:
          type: string
      required:
        - id
    studyset-return:
      title: studyset-return
      x-examples: {}
      x-tags:
        - studyset
      allOf:
        - $ref: ./nimads/nimads/studysetBase.yaml
        - $ref: '#/components/schemas/resource-attributes'
        - $ref: '#/components/schemas/clone'
        - $ref: '#/components/schemas/studyset-return-relationships'
        - $ref: '#/components/schemas/study-common'
          x-stoplight:
            id: y17p9ubfmmpgg
    studyset-request:
      title: studyset-request
      x-examples: {}
      x-tags:
        - studyset
      allOf:
        - $ref: ./nimads/nimads/studysetBase.yaml
        - $ref: '#/components/schemas/studyset-request-relationships'
        - $ref: '#/components/schemas/writeable-resource-attributes'
        - $ref: '#/components/schemas/study-common'
          x-stoplight:
            id: zlm0t5muprjr3
    studyset-return-relationships:
      title: studyset-relationships
      type: object
      properties:
        studyset_studies:
          type: array
          description: Association records for studies in this studyset (includes stub UUIDs for mapping).
          items:
            type: object
            properties:
              id:
                type: string
              curation_stub_uuid:
                type: string
                format: uuid
                nullable: true
        studies:
          oneOf:
            - items:
                $ref: '#/components/schemas/study-return'
              type: array
              minItems: 1
            - items:
                type: string
              type: array
    studyset-request-relationships:
      title: studyset-relationships
      type: object
      properties:
        studies:
          type: array
          description: >
            Accepts study IDs or objects containing an ID and an optional curation
            stub UUID used to keep curation/extraction alignment.
          items:
            anyOf:
              - type: string
              - type: object
                properties:
                  id:
                    type: string
                  curation_stub_uuid:
                    type: string
                    format: uuid
                    writeOnly: true
                required:
                  - id
              - $ref: '#/components/schemas/study-request'
    studyset-list:
      title: studyset-get
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/studyset-return'
        metadata:
          $ref: '#/components/schemas/metadata'
      x-tags:
        - studyset
    study-return:
      title: study-return
      allOf:
        - $ref: ./nimads/nimads/studyBase.yaml
        - $ref: '#/components/schemas/resource-attributes'
        - $ref: '#/components/schemas/clone'
        - $ref: '#/components/schemas/study-return-relationships'
        - type: object
          properties:
            studysets:
              type: array
              items:
                oneOf:
                  - type: object
                    properties:
                      name:
                        type: string
                        nullable: true
                      id:
                        type: string
                      description:
                        type: string
                        nullable: true
                  - type: string
                    x-stoplight:
                      id: 4ny274ofy8y83
                    nullable: true
            has_coordinates:
              type: boolean
              x-stoplight:
                id: z0t5y3n3t9w6p
            has_images:
              type: boolean
              x-stoplight:
                id: 5awd3fw7bz8sw
            has_z_maps:
              type: boolean
            has_t_maps:
              type: boolean
            has_beta_and_variance_maps:
              type: boolean
            base_study:
              type: string
              x-stoplight:
                id: kpfdf217fjdv5
              nullable: true
            pmcid:
              type: string
              x-stoplight:
                id: n475is2n6hps6
              nullable: true
      x-tags:
        - study
    study-request:
      title: study-request
      allOf:
        - $ref: ./nimads/nimads/studyBase.yaml
        - $ref: '#/components/schemas/study-request-relationships'
        - $ref: '#/components/schemas/writeable-resource-attributes'
        - type: object
          x-stoplight:
            id: w8fkbttl422ip
          properties:
            pmcid:
              type: string
              x-stoplight:
                id: 5urg0rcomxc92
              nullable: true
      x-tags:
        - study
    study-return-relationships:
      title: study-relationships
      x-tags:
        - study
      type: object
      properties:
        analyses:
          oneOf:
            - items:
                $ref: '#/components/schemas/analysis-return'
              minItems: 1
              type: array
            - items:
                type: string
              type: array
        tables:
          type: array
          items:
            type: string
    study-request-relationships:
      title: study-relationships
      x-tags:
        - study
      type: object
      properties:
        analyses:
          oneOf:
            - items:
                $ref: '#/components/schemas/analysis-request'
              minItems: 1
              type: array
            - items:
                type: string
              type: array
    study-list:
      title: study-get
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/study-return'
        metadata:
          $ref: '#/components/schemas/metadata'
      x-tags:
        - study
    analysis-common:
      title: analysis-common
      description: attributes common between request and return objects
      type: object
      properties:
        study:
          type: string
        table_id:
          type: string
          nullable: true
        entities:
          type: array
          x-stoplight:
            id: 7ou6xrem7bwps
          items:
            $ref: '#/components/schemas/entity'
        order:
          type: integer
          x-stoplight:
            id: vo5cd2gerhxve
          nullable: true
        metadata:
          type: object
          x-stoplight:
            id: wibxycovy2j3g
          nullable: true
    analysis-return:
      title: analysis-return
      allOf:
        - $ref: ./nimads/nimads/analysisBase.yaml
        - $ref: '#/components/schemas/resource-attributes'
        - $ref: '#/components/schemas/analysis-return-relationships'
        - $ref: '#/components/schemas/analysis-common'
        - type: object
          properties:
            point_count:
              type: integer
              nullable: true
              description: Number of point coordinates linked to this analysis.
            has_coordinates:
              type: boolean
            has_images:
              type: boolean
            has_z_maps:
              type: boolean
            has_t_maps:
              type: boolean
            has_beta_and_variance_maps:
              type: boolean
      x-tags:
        - analysis
    analysis-request:
      title: analysis-request
      allOf:
        - $ref: ./nimads/nimads/analysisBase.yaml
        - $ref: '#/components/schemas/analysis-request-relationships'
        - $ref: '#/components/schemas/writeable-resource-attributes'
        - $ref: '#/components/schemas/analysis-common'
      x-tags:
        - analysis
    analysis-return-relationships:
      title: analysis-relationships
      x-tags:
        - analysis
      type: object
      properties:
        study:
          type: string
        images:
          oneOf:
            - items:
                $ref: '#/components/schemas/image-return'
              minItems: 1
              type: array
            - items:
                type: string
              type: array
        points:
          oneOf:
            - items:
                $ref: '#/components/schemas/point-return'
              minItems: 1
              type: array
            - items:
                type: string
              type: array
        conditions:
          oneOf:
            - items:
                $ref: '#/components/schemas/condition-return'
              minItems: 1
              type: array
            - items:
                type: string
              type: array
    analysis-request-relationships:
      title: analysis-relationships
      x-tags:
        - analysis
      type: object
      properties:
        study:
          type: string
        images:
          oneOf:
            - items:
                $ref: '#/components/schemas/image-request'
              minItems: 1
              type: array
            - items:
                type: string
              type: array
        points:
          oneOf:
            - items:
                $ref: '#/components/schemas/point-request'
              minItems: 1
              type: array
            - items:
                type: string
              type: array
        conditions:
          oneOf:
            - items:
                $ref: '#/components/schemas/condition-request'
              minItems: 1
            - items:
                type: string
              type: array
    analysis-list:
      title: analysis-list
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/metadata'
        results:
          type: array
          items:
            $ref: '#/components/schemas/analysis-return'
      x-tags:
        - analysis
    point-common:
      title: point-common
      type: object
      properties:
        analysis:
          type: string
        cluster_size:
          type: number
          x-stoplight:
            id: 77svy0irqsgvb
          description: size of the cluster in cubic millimeters
          nullable: true
        subpeak:
          type: boolean
          x-stoplight:
            id: 5klqsds10ziod
          description: whether the reported peak is the max-peak statistic or a sub-maxmimal peak.
          nullable: true
        deactivation:
          type: boolean
          description: wheather the coordinate represents an decrease in activation relative to a baseline
          nullable: true
        order:
          type: integer
          x-stoplight:
            id: 1dx1iw1wt2huo
          description: determines the row to display the coordinate
          nullable: true
    point-return:
      allOf:
        - $ref: ./nimads/nimads/pointBase.yaml
        - $ref: '#/components/schemas/resource-attributes'
        - $ref: '#/components/schemas/point-relationships'
        - $ref: '#/components/schemas/point-common'
      x-tags:
        - point
    point-request:
      allOf:
        - $ref: ./nimads/nimads/pointBase.yaml
        - $ref: '#/components/schemas/point-relationships'
        - $ref: '#/components/schemas/writeable-resource-attributes'
        - $ref: '#/components/schemas/point-common'
      x-tags:
        - point
    point-relationships:
      x-tags:
        - point
      type: object
      properties:
        image:
          type: string
          nullable: true
        values:
          oneOf:
            - items:
                $ref: '#/components/schemas/point-value'
              type: array
              minItems: 1
            - nullable: true
              items:
                x-stoplight:
                  id: 6wlgfi0s2zefg
                type: string
                nullable: true
              type: array
          x-stoplight:
            id: 7ywg6qu86o7yy
        x:
          type: number
          writeOnly: true
        'y':
          type: number
          writeOnly: true
        z:
          type: number
          writeOnly: true
        entities:
          type: array
          items:
            $ref: '#/components/schemas/entity'
    point-list:
      title: point-list
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/point-return'
        metadata:
          $ref: '#/components/schemas/metadata'
      x-tags:
        - point
    point-value:
      title: point-value
      type: object
      properties:
        kind:
          type: string
          nullable: true
        value:
          type: number
          nullable: true
      description: ''
      x-tags:
        - point
    image-common:
      title: image-common
      type: object
      properties:
        analysis:
          type: string
    image-return:
      allOf:
        - $ref: ./nimads/nimads/imageBase.yaml
        - $ref: '#/components/schemas/image-relationships'
        - $ref: '#/components/schemas/resource-attributes'
        - $ref: '#/components/schemas/image-common'
      x-tags:
        - image
    image-request:
      allOf:
        - $ref: ./nimads/nimads/imageBase.yaml
        - $ref: '#/components/schemas/image-relationships'
        - $ref: '#/components/schemas/writeable-resource-attributes'
        - $ref: '#/components/schemas/image-common'
      x-tags:
        - image
    image-relationships:
      x-tags:
        - image
      type: object
      properties:
        analysis:
          type: string
        entities:
          type: array
          items:
            $ref: '#/components/schemas/entity'
        analysis_name:
          type: string
          nullable: true
      title: ''
    image-list:
      title: image-list
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/image-return'
        metadata:
          $ref: '#/components/schemas/metadata'
      x-tags:
        - image
    condition-return:
      title: condition-return
      allOf:
        - $ref: ./nimads/nimads/conditionBase.yaml
        - $ref: '#/components/schemas/resource-attributes'
      x-tags:
        - condition
    condition-request:
      title: condition-request
      allOf:
        - $ref: ./nimads/nimads/conditionBase.yaml
        - $ref: '#/components/schemas/writeable-resource-attributes'
      x-tags:
        - condition
    condition-list:
      title: condition-list
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/condition-return'
        metadata:
          $ref: '#/components/schemas/metadata'
      x-tags:
        - condition
    table-return:
      title: table-return
      allOf:
        - $ref: '#/components/schemas/resource-attributes'
        - $ref: '#/components/schemas/table-common'
        - $ref: '#/components/schemas/table-return-relationships'
      x-tags:
        - table
    table-request:
      title: table-request
      allOf:
        - $ref: '#/components/schemas/writeable-resource-attributes'
        - $ref: '#/components/schemas/table-common'
        - $ref: '#/components/schemas/table-request-relationships'
      x-tags:
        - table
    table-common:
      title: table-common
      type: object
      properties:
        t_id:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        footer:
          type: string
          nullable: true
        caption:
          type: string
          nullable: true
    table-return-relationships:
      title: table-relationships
      x-tags:
        - table
      type: object
      properties:
        study:
          type: string
        analyses:
          oneOf:
            - items:
                $ref: '#/components/schemas/analysis-return'
              minItems: 1
              type: array
            - items:
                type: string
              type: array
    table-request-relationships:
      title: table-relationships
      x-tags:
        - table
      type: object
      properties:
        study:
          type: string
    table-list:
      title: table-list
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/table-return'
        metadata:
          $ref: '#/components/schemas/metadata'
      x-tags:
        - table
    annotation-return:
      title: annotation-return
      oneOf:
        - allOf:
            - $ref: '#/components/schemas/annotation-export'
            - {}
        - allOf:
            - $ref: ./nimads/nimads/annotationBase.yaml
            - $ref: '#/components/schemas/resource-attributes'
            - $ref: '#/components/schemas/clone'
            - $ref: '#/components/schemas/annotation-return-relationships'
            - $ref: '#/components/schemas/annotation-common'
      x-tags:
        - annotation
    annotation-request:
      title: annotation-request
      oneOf:
        - allOf:
            - $ref: ./nimads/nimads/annotationBase.yaml
            - $ref: '#/components/schemas/annotation-pipeline-extension'
            - $ref: '#/components/schemas/annotation-request-relationships'
            - $ref: '#/components/schemas/writeable-resource-attributes'
            - $ref: '#/components/schemas/annotation-common'
        - allOf:
            - $ref: '#/components/schemas/annotation-export'
            - {}
      x-tags:
        - annotation
    annotation-return-relationships:
      title: annotation-relationships
      x-tags:
        - annotation
      type: object
      properties:
        notes:
          oneOf:
            - items:
                $ref: '#/components/schemas/note-collection-return'
              type: array
              minItems: 1
            - items:
                type: string
              type: array
    annotation-request-relationships:
      title: annotation-relationships
      x-tags:
        - annotation
      type: object
      properties:
        notes:
          oneOf:
            - items:
                $ref: '#/components/schemas/note-collection-request'
              minItems: 1
              type: array
            - items:
                type: string
              type: array
    annotation-pipeline-extension:
      title: annotation-pipeline-extension
      type: object
      properties:
        pipelines:
          type: array
          writeOnly: true
          description: >
            Optional pipeline descriptors used to populate annotation notes with
            feature columns. Each entry should include the pipeline name and the
            list of columns to import, along with optional version and config id.
          items:
            type: object
            required:
              - name
              - columns
            properties:
              name:
                type: string
                description: Pipeline extractor name.
              version:
                type: string
                nullable: true
                description: Optional pipeline version to use; latest is selected when omitted.
              config_id:
                type: string
                nullable: true
                description: Optional specific pipeline config identifier to use.
              columns:
                type: array
                minItems: 1
                items:
                  type: string
                description: Feature columns to add to each annotation note.
    annotation-list:
      title: annotation-list
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/annotation-return'
        metadata:
          $ref: '#/components/schemas/metadata'
      x-tags:
        - annotation
    note-collection-return:
      title: note-collection-return
      allOf:
        - $ref: ./nimads/nimads/noteCollectionBase.yaml
        - type: object
          properties:
            analysis:
              type: string
              readOnly: true
            analysis_name:
              type: string
              nullable: true
              readOnly: true
            study:
              type: string
              readOnly: true
            study_name:
              type: string
              nullable: true
              readOnly: true
            annotation:
              type: string
              readOnly: true
            study_year:
              type: integer
              nullable: true
              readOnly: true
            publication:
              type: string
              nullable: true
              readOnly: true
            authors:
              type: string
              nullable: true
              readOnly: true
            id:
              type: string
              x-stoplight:
                id: kcqkjm938r62j
    note-collection-request:
      title: note-collection-request
      allOf:
        - $ref: ./nimads/nimads/noteCollectionBase.yaml
        - $ref: '#/components/schemas/writeable-resource-attributes'
    note-collection-list:
      title: note-collection-list
      x-stoplight:
        id: mljd0u645zvaz
      type: object
      properties:
        results:
          type: array
          x-stoplight:
            id: 30s5atr6axd6n
          items:
            $ref: '#/components/schemas/note-collection-return'
        metadata:
          $ref: '#/components/schemas/metadata'
    annotation-export:
      type: object
      title: annotation-export
      additionalProperties: false
      x-tags:
        - annotation
      description: exporting an annotation as a CSV for easier editing
      properties:
        metadata:
          type: object
          nullable: true
          readOnly: true
        annotation_csv:
          type: string
          description: annotation object expressed as a CSV
      required:
        - annotation_csv
    annotation-common:
      title: annotation-common
      type: object
      properties:
        studyset:
          type: string
    user:
      type: object
      title: user
      description: ''
      properties:
        name:
          type: string
          description: full name of user
        neuroid:
          type: string
      x-tags:
        - user
    user-list:
      title: user-list
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/user'
        metadata:
          $ref: '#/components/schemas/metadata'
      x-tags:
        - user
    metadata:
      type: object
      title: metadata
      description: data included in every list response
      additionalProperties: false
      x-internal: true
      x-tags:
        - support
      properties:
        total_count:
          type: integer
          description: |
            total number of entries
          readOnly: true
        unique_count:
          type: integer
          description: count of elements for unique entries
          readOnly: true
    resource-attributes:
      allOf:
        - $ref: '#/components/schemas/readable-resource-attributes'
        - $ref: '#/components/schemas/writeable-resource-attributes'
        - $ref: '#/components/schemas/user-resource-attributes'
        - readOnly: true
      description: common attributes for user owned resources
    userless-resource-attributes:
      allOf:
        - $ref: '#/components/schemas/readable-resource-attributes'
          required:
            - created_at
            - updated_at
        - $ref: '#/components/schemas/writeable-resource-attributes'
        - readOnly: true
      description: common resource attributes not tied to a specific user
    user-resource-attributes:
      title: user-resource-attributes
      type: object
      description: common resource attributes
      x-internal: true
      x-tags:
        - support
      properties:
        user:
          type: string
          description: who owns the resource
          nullable: true
          readOnly: true
        username:
          type: string
          x-stoplight:
            id: xatmqtz3yy1eg
          description: human readable username
          nullable: true
    readable-resource-attributes:
      title: readable-resource-attributes
      type: object
      description: common readable resource attributes
      x-internal: true
      x-tags:
        - support
      properties:
        created_at:
          type: string
          format: date-time
          example: '2021-01-16T20:50:38.009318+00:00'
          description: time the resource was created on the database
          readOnly: true
        updated_at:
          type: string
          description: when the resource was last modified/updated.
          nullable: true
          readOnly: true
    writeable-resource-attributes:
      title: writeable-resource-attributes
      type: object
      description: common resource attributes
      x-internal: true
      x-tags:
        - support
      properties:
        id:
          type: string
          description: short UUID specifying the location of this resource
          example: 38jobTomPDqt
          minLength: 12
          maxLength: 30
        public:
          type: boolean
          default: true
          description: whether the resource is listed in public searches or not
    json-ld:
      title: json-ld
      type: object
      description: JSON-LD elements for data tracking
      properties:
        '@context':
          type: object
          description: Context for the shorthand names
          properties:
            '@vocab':
              type: string
              description: common URI prefix for @type
              format: uri
        '@id':
          type: string
          format: uri
          description: URI of the resource
        '@type':
          type: string
          description: One of the NiMADS data types
          example: Study
      x-internal: true
      x-tags:
        - support
    entity:
      title: entity
      description: 'WARNING: not currently used. descriptor of level of analysis for a particular image/point (run, session, subject, group, meta)'
      type: object
      properties:
        label:
          type: string
          x-stoplight:
            id: f12wushemxy2x
          nullable: true
        level:
          type: string
          x-stoplight:
            id: eb4zy1dh61x9t
          nullable: true
        analysis:
          type: string
          x-stoplight:
            id: s064lv0pqh9km
          nullable: true
    clone:
      title: clone
      type: object
      properties:
        source:
          type: string
          nullable: true
        source_id:
          type: string
          nullable: true
        source_updated_at:
          type: string
          nullable: true
          readOnly: true
    nested-put-attributes:
      type: object
      title: nested-put-attributes
      properties:
        id:
          type: string
      writeOnly: true
    study-common:
      title: study-common
      x-stoplight:
        id: qufxwmzs9ihnf
      type: object
      properties:
        level:
          type: string
          x-stoplight:
            id: oygujzdxh8h8q
          enum:
            - group
            - meta
    base-study:
      title: base-study
      x-stoplight:
        id: dk84wnkoshpxb
      type: object
      properties:
        metadata:
          type: object
          x-stoplight:
            id: at2s31cv9gfg5
          nullable: true
        versions:
          x-stoplight:
            id: rqz03bl5z81y4
          type: array
          items:
            oneOf:
              - type: string
                x-stoplight:
                  id: nesbtmu3fl2yy
              - $ref: '#/components/schemas/study-return'
        name:
          type: string
          x-stoplight:
            id: zl1wex53acatp
          nullable: true
        description:
          type: string
          x-stoplight:
            id: thag7ji2rhr83
          nullable: true
        publication:
          type: string
          x-stoplight:
            id: ph412w2el6ebi
          nullable: true
        doi:
          type: string
          x-stoplight:
            id: pstkzdb6m745f
          nullable: true
        pmid:
          type: string
          x-stoplight:
            id: 0m392ko74gh43
          nullable: true
        authors:
          type: string
          x-stoplight:
            id: 6tz6016l564pj
          nullable: true
        year:
          type: integer
          x-stoplight:
            id: gdrb1hjvs1m68
          nullable: true
        level:
          type: string
          x-stoplight:
            id: voxamooj7ob5l
          nullable: true
        is_oa:
          type: boolean
          nullable: true
        pmcid:
          type: string
          x-stoplight:
            id: s29tro516g5zs
          nullable: true
    base-study-return:
      title: base-study-return
      x-stoplight:
        id: wjlatdng999oq
      allOf:
        - $ref: '#/components/schemas/base-study'
        - $ref: '#/components/schemas/resource-attributes'
      properties:
        has_coordinates:
          type: boolean
        has_images:
          type: boolean
        has_z_maps:
          type: boolean
        has_t_maps:
          type: boolean
        has_beta_and_variance_maps:
          type: boolean
        features:
          type: object
    base-study-list:
      title: base-study-list
      x-stoplight:
        id: mhmsku38rqcfq
      type: object
      properties:
        results:
          type: array
          x-stoplight:
            id: 8txl0ha4pe7y0
          items:
            $ref: '#/components/schemas/base-study-return'
        metadata:
          $ref: '#/components/schemas/metadata'
    pipeline-embedding:
      allOf:
        - $ref: '#/components/schemas/readable-resource-attributes'
        - type: object
          properties:
            config_id:
              type: string
            base_study_id:
              type: string
              nullable: true
            date_executed:
              type: string
              format: date-time
              nullable: true
            file_inputs:
              type: object
              nullable: true
            status:
              type: string
              description: Current status of the pipeline execution (e.g. SUCCESS, FAILURE, ERROR, UNKNOWN)
            embedding:
              type: array
              items:
                type: number
                format: float
          required:
            - config_id
            - status
            - embedding
    pipeline-embedding-list:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/pipeline-embedding'
        metadata:
          $ref: '#/components/schemas/metadata'
  responses:
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            notFound:
              value:
                status: 404
                title: "Not Found"
                detail: "The requested URL was not found on the server."
                type: "about:blank"
                timestamp: "2025-01-01T00:00:00Z"
                request_id: "req-1234"
    '422':
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            unprocessable:
              value:
                status: 422
                title: "Unprocessable Entity"
                detail: "The request was well-formed but was unable to be followed due to semantic errors."
                type: "about:blank"
                timestamp: "2025-01-01T00:00:00Z"
                request_id: "req-1234"
                errors: []
  parameters:
    search:
      name: search
      in: query
      required: false
      schema:
        type: string
        minLength: 1
        example: imagin
      description: search for entries that contain the substring
    sort:
      name: sort
      in: query
      required: false
      schema:
        type: string
        default: created_at
      description: Parameter to sort results on
    page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
      description: page of results
    desc:
      name: desc
      in: query
      required: false
      schema:
        type: boolean
      description: sort results by descending order (as opposed to ascending order)
    page_size:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
        maximum: 30000
        exclusiveMaximum: true
        minimum: 1
        format: int32
      description: number of results to show on a page
    nested:
      name: nested
      in: query
      required: false
      schema:
        type: boolean
      description: whether to show the URI to a resource (false) or to embed the object in the response (true)
    summary:
      name: summary
      in: query
      required: false
      schema:
        type: boolean
      description: return a lightweight summary payload with study metadata and per-analysis coordinate counts; incompatible with nested
    source:
      name: source
      in: query
      required: false
      schema:
        type: string
        example: neurostore
        default: neurostore
        enum:
          - neurostore
          - neurovault
          - pubmed
          - neurosynth
          - neuroquery
          - pubget
      description: the source of the resource you would like to filter/copy from
    source_id:
      name: source_id
      in: query
      schema:
        type: string
        example: 1234567890ab
      description: id of the resource you are either filtering/copying on
    copy_annotations:
      name: copy_annotations
      in: query
      required: false
      schema:
        type: boolean
        default: true
      description: When cloning a studyset, copy annotations and their notes when true (default).
    name:
      name: name
      in: query
      required: false
      schema:
        type: string
      description: search the name field for a term
    description:
      name: description
      in: query
      required: false
      schema:
        type: string
      description: search description field for a term
    filename:
      name: filename
      in: query
      required: false
      schema:
        type: string
      description: search filename field
    space:
      name: space
      in: query
      schema:
        type: string
      description: search space field
    value_type:
      name: value_type
      in: query
      required: false
      schema:
        type: string
      description: search value_type field
    analysis_name:
      name: analysis_name
      in: query
      required: false
      schema:
        type: string
      description: search analysis_name field
    unique:
      name: unique
      in: query
      required: false
      schema: {}
      description: whether to list clones with originals
    authors:
      name: authors
      in: query
      required: false
      schema:
        type: string
      description: search authors
    user_id:
      name: user_id
      in: query
      required: false
      schema:
        type: string
      description: user id you want to filter by
    studyset_id:
      name: studyset_id
      in: query
      required: false
      schema:
        type: string
      description: see all annotations connected to this studyset
    export:
      name: export
      in: query
      required: false
      schema:
        type: boolean
      description: return endpoint data in consumable/readable format
    data_type:
      name: data_type
      in: query
      required: false
      schema:
        type: string
        enum:
          - coordinate
          - image
          - both
      description: 'whether searching for studies that contain coordinates, images, or both'
    map_type:
      name: map_type
      in: query
      required: false
      schema:
        type: string
        enum:
          - z
          - t
          - beta_variance
          - any
      description: filter by stored map-type flags
    studyset_owner:
      name: studyset_owner
      in: query
      required: false
      schema:
        type: string
      description: for all studies filter which studysets are listed based on who owns the studyset
    level:
      name: level
      in: query
      schema:
        type: string
        enum:
          - group
          - meta
        default: group
      description: select between studies with group results or meta results
    publication:
      name: publication
      in: query
      required: false
      schema:
        type: string
      description: search for papers from a particular journal
    pmid:
      name: pmid
      in: query
      required: false
      schema:
        type: string
      description: search for particular pmid
    doi:
      name: doi
      in: query
      required: false
      schema:
        type: string
      description: search for study with specific doi
    neurovault_id:
      name: neurovault_id
      in: query
      required: false
      schema:
        type: string
      description: search for study with specific neurovault id
    is_oa:
      name: is_oa
      in: query
      required: false
      schema:
        type: boolean
    flat:
      name: flat
      in: query
      required: false
      schema:
        type: boolean
      description: 'do not return any embedded relationships. When set, it is incompatible with nested. '
    info:
      name: info
      in: query
      required: false
      schema:
        type: boolean
      description: show additional for endpoint-object relationships without being fully nested. Incompatible with nested
    gzip:
      name: gzip
      in: query
      required: false
      schema:
        type: boolean
      description: return the content as gzipped content
    paginate:
      name: paginate
      in: query
      required: false
      schema:
        type: boolean
        default: true
      description: whether to paginate results (true) or return all results at once (false)
  securitySchemes:
    JSON-Web-Token:
      type: http
      scheme: bearer
      description: authentication method
tags:
  - name: analyses
  - name: studysets
  - name: images
  - name: points
  - name: store
  - name: studies
  - name: conditions
  - name: user
  - name: annotations
  - name: pipeline_embeddings
