openapi: 3.0.0
info:
  title: Analysis Specification for Meta-analysis
  version: '1.0'
  description: api to create a meta-analysis specification
  contact:
    name: James D Kent
    url: 'https://github.com/jdkent'
    email: jamesdkent21@gmail.com
servers:
  - url: 'https://compose.neurosynth.org/api'
    description: production
  - description: staging
    url: 'https://synth.neurostore.xyz/api'
  - url: 'http://localhost:81/api'
    description: testing
paths:
  '/users/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Get User Info by User ID
      tags:
        - users
      description: Retrieve the information of the user with the matching user ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user-return'
    put:
      summary: Update User Information
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user-return'
      tags:
        - users
      description: update information about a user
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user'
  /users:
    parameters: []
    get:
      summary: GET list of Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user-list'
      description: List all users
      tags:
        - users
    post:
      summary: Create A New User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user-return'
      security:
        - JSON-Web-Token: []
      tags:
        - users
      description: create a single user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user'
  /meta-analyses:
    get:
      summary: GET a list of meta-analyses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meta-analysis-list'
        '400':
          $ref: '#/components/responses/bad-request'
      description: 'list all runnable specification, studyset, annotation bundles'
      parameters:
        - $ref: '#/components/parameters/nested'
      tags:
        - meta_analyses
        - get
        - compose
    parameters: []
    post:
      summary: Create a new meta-analysis
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meta-analysis-return'
        '400':
          $ref: '#/components/responses/bad-request'
        '422':
          $ref: '#/components/responses/bad-request'
        '500':
          $ref: '#/components/responses/bad-request'
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/meta-analysis-post-body'
      description: 'create a new specification, studyset, annotation bundle'
      tags:
        - meta_analyses
        - post
        - compose
  '/meta-analyses/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: GET meta-analysis information
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meta-analysis-return'
        '401':
          $ref: '#/components/responses/bad-request'
        '404':
          $ref: '#/components/responses/bad-request'
      description: 'get a meta-analysis (specification, annotation, and studyset)'
      parameters:
        - $ref: '#/components/parameters/nested'
      tags:
        - meta_analyses
        - get
        - compose
    put:
      summary: Update a meta-analysis
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meta-analysis-return'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/bad-request'
        '404':
          $ref: '#/components/responses/bad-request'
        '422':
          $ref: '#/components/responses/bad-request'
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/meta-analysis'
        description: ''
      description: update an existing meta-analysis (that has not yet been run)
      tags:
        - meta_analyses
        - put
        - compose
    delete:
      summary: ''
      responses:
        '200':
          description: OK
      security:
        - JSON-Web-Token: []
  /studysets:
    get:
      summary: Get a list of Studysets
      tags:
        - studysets
        - get
        - compose
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studyset-list'
        '400':
          $ref: '#/components/responses/bad-request'
      description: get a list of serialized/referenced studysets
    parameters: []
    post:
      summary: Create a new Studyset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studyset-return'
        '400':
          $ref: '#/components/responses/bad-request'
        '422':
          $ref: '#/components/responses/bad-request'
        '500':
          $ref: '#/components/responses/bad-request'
      tags:
        - studysets
        - post
        - compose
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/studyset-post-body'
      description: create a new serialized/referenced studyset
  '/studysets/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Get information about a Studyset
      tags:
        - studysets
        - get
        - compose
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studyset-return'
        '401':
          $ref: '#/components/responses/bad-request'
        '404':
          $ref: '#/components/responses/bad-request'
      description: get a single serialized/referenced studyset
    put:
      summary: Update a Studyset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studyset-return'
        '400':
          description: Bad Request
        '401':
          $ref: '#/components/responses/bad-request'
        '404':
          $ref: '#/components/responses/bad-request'
        '422':
          $ref: '#/components/responses/bad-request'
      tags:
        - studysets
        - put
        - compose
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/studyset'
      description: update an existing serialized/referenced studyset
  /annotations:
    get:
      summary: GET a list of annotations
      tags:
        - annotations
        - get
        - compose
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annotation-list'
        '400':
          $ref: '#/components/responses/bad-request'
      description: get a list of serialized/referenced annotations
    post:
      summary: Create a new Annotation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annotation-return'
        '400':
          $ref: '#/components/responses/bad-request'
        '422':
          $ref: '#/components/responses/bad-request'
        '500':
          $ref: '#/components/responses/bad-request'
      tags:
        - annotations
        - post
        - compose
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/annotation-post-body'
      security:
        - JSON-Web-Token: []
      description: create a new serialized/referenced annotation
  '/annotations/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: GET information about an annotation
      tags:
        - annotations
        - get
        - compose
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annotation-return'
        '401':
          $ref: '#/components/responses/bad-request'
        '404':
          $ref: '#/components/responses/bad-request'
      description: get a single annotation
    put:
      summary: Update an Annotation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annotation-return'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/bad-request'
        '404':
          $ref: '#/components/responses/bad-request'
        '422':
          $ref: '#/components/responses/bad-request'
      tags:
        - annotations
        - put
        - compose
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/annotation-update'
      description: update an existing annotation
  /specifications:
    get:
      summary: Get a list of Specifications
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/specification-list'
        '400':
          $ref: '#/components/responses/bad-request'
      description: list of meta-analysis specifications
      tags:
        - specifications
        - get
        - compose
    parameters: []
    post:
      summary: Create a Specification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/specification-return'
        '400':
          $ref: '#/components/responses/bad-request'
        '422':
          description: Unprocessable Entity (WebDAV)
        '500':
          $ref: '#/components/responses/bad-request'
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/specification-post-body'
      description: create a new meta-analysis specification
      tags:
        - specifications
        - post
        - compose
  '/specifications/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Get information about a Specification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/specification-return'
        '401':
          $ref: '#/components/responses/bad-request'
        '404':
          $ref: '#/components/responses/bad-request'
      description: get a meta-analysis specification
      tags:
        - specifications
        - get
        - compose
    put:
      summary: Update Meta-Analysis specification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/specification-return'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/bad-request'
        '404':
          $ref: '#/components/responses/bad-request'
        '422':
          $ref: '#/components/responses/bad-request'
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/specification'
      description: update an existing meta analysis specification
      tags:
        - specifications
        - put
        - compose
  /meta-analysis-results:
    get:
      summary: Your GET endpoint
      tags:
        - meta_analyses
        - get
        - compose
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result-list'
      parameters:
        - schema:
            type: string
          in: query
          name: meta_analysis_id
          description: search for results with this meta-analysis id
    post:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result-return'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/result-init'
      security:
        - JSON-Web-Token: []
        - upload_key: []
      tags:
        - meta_analyses
        - post
        - compose
    parameters: []
  '/meta-analysis-results/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags:
        - meta_analyses
        - get
        - compose
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result-return'
    put:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result-return'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/result'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/result-upload'
      tags:
        - meta_analyses
        - put
        - compose
      security:
        - JSON-Web-Token: []
        - upload_key: []
  /neurovault-collections:
    get:
      summary: Get neurovault collections
      tags:
        - neurovault
        - get
        - compose
      responses:
        '200':
          description: OK
      x-internal: true
    post:
      summary: Create neurovault collection
      responses:
        '200':
          description: OK
      description: ''
      security:
        - JSON-Web-Token: []
      tags:
        - neurovault
        - post
        - compose
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/neurovault-collection'
      x-internal: true
    parameters: []
  '/neurovault-collections/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags:
        - neurovault
        - get
        - compose
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/neurovault-collection-return'
      x-internal: true
    put:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/neurovault-collection-return'
      security:
        - JSON-Web-Token: []
      tags:
        - neurovault
        - put
        - compose
      x-internal: true
  /neurovault-files:
    get:
      summary: Your GET endpoint
      tags:
        - neurovault
        - get
        - compose
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/neurovault-file-list'
      x-internal: true
    post:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/neurovault-file-return'
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/neurovault-file'
        description: ''
      tags:
        - neurovault
        - post
        - compose
      x-internal: true
    parameters: []
  '/neurovault-files/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags:
        - neurovault
        - get
        - compose
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/neurovault-file-return'
      x-internal: true
    put:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/neurovault-file-return'
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/neurovault-file'
      tags:
        - neurovault
        - put
        - compose
      x-internal: true
  /projects:
    get:
      summary: Your GET endpoint
      tags:
        - projects
        - get
        - compose
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project-list'
      security:
        - JSON-Web-Token: []
        - {}
    post:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project-return'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project'
      security:
        - JSON-Web-Token: []
      tags:
        - projects
        - post
        - compose
  '/projects/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags:
        - projects
        - get
        - compose
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project-return'
      parameters: []
    put:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project-return'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project'
      security:
        - JSON-Web-Token: []
      tags:
        - projects
        - put
        - compose
    delete:
      summary: ''
      responses:
        '200':
          description: OK
      security:
        - JSON-Web-Token: []
  /neurostore-studies:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/neurostore-study-list'
      x-internal: true
    post:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/neurostore-study-return'
      security:
        - JSON-Web-Token: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties: {}
      x-internal: true
  '/neurostore-studies/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/neurostore-study-return'
      x-internal: true
    put:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/neurostore-study-return'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties: {}
      security:
        - JSON-Web-Token: []
      x-internal: true
  /studyset-references:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studyset-reference-list'
      x-stoplight:
        id: kzl4p104nysct
      description: ''
  '/studyset-references/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studyset-reference-return'
      x-stoplight:
        id: beely5hhaisxm
components:
  schemas:
    specification:
      title: specification
      type: object
      x-tags:
        - specifications
      description: a machine readable specification of how to run a meta-analysis (currently specifically tailored to NiMARE).
      properties:
        type:
          type: string
          description: 'the type of meta-analysis being run, typically either cbma or ibma, but others may become available in the future.'
        estimator:
          $ref: '#/components/schemas/estimator'
        mask:
          type: string
          description: a string representing a binary nifti file to select which voxels a user wants to include in the analysis.
          nullable: true
        contrast:
          type: string
          description: 'selection of categories in the filter column to differentiate groups, or "neurosynth", "neuroquery", or "neurostore" to compare to a database reference group'
          nullable: true
        transformer:
          type: string
          description: 'A transformation applied to column(s) (e.g., binarize based on a threshold). This is likely to become deprecated.'
          nullable: true
        corrector:
          $ref: '#/components/schemas/corrector'
        filter:
          type: string
          description: a column from annotations selecting which analyses to include in the meta-analysis
          nullable: true
    estimator:
      title: estimator
      type: object
      properties:
        type:
          type: string
          description: 'the meta-analytic algorithm applied to the data. Currently this should be directly tied to the function/class running the meta-analysis. For example, ALE, or MKDADensity are valid NiMARE classes to put here.'
          example: MKDADensity
          minLength: 1
        args:
          type: object
          description: 'arbitrary keyword arguments to be passed into the function/class to modify default functionality, this could modify the kernel, resampling methods, or any other behavior defined in the function/class (like MKDADensity).'
      description: the specification for the function/class running the meta-analysis
      x-tags:
        - specifications
    corrector:
      title: corrector
      type: object
      description: The function/class applying statistical adjustments to the output of the meta-analysis (optional).
      nullable: true
      properties:
        type:
          type: string
          description: the name of the function/class performing the correction. For example FWECorrector from NiMARE would be valid.
          example: FWECorrector
          minLength: 1
        args:
          type: object
          description: 'key word arguments passed to the corrector to modidy default functionality, such as number of iterations, or the particular method of correction being applied.'
      x-tags:
        - specifications
    meta-analysis:
      title: meta-analysis
      description: 'The combination of the specification determining what meta-analysis to run (required), the studyset to act as input to the meta-analytic algorithm (required), and the annotation to provide human readable annotations as well as acts as an optional filter on which analyses to select within the studyset (optional, but suggested).'
      x-tags:
        - meta_analyses
      type: object
      properties:
        specification:
          oneOf:
            - type: string
              nullable: true
            - $ref: '#/components/schemas/specification'
        studyset:
          oneOf:
            - type: string
              nullable: true
            - $ref: '#/components/schemas/studyset'
        annotation:
          oneOf:
            - type: string
              nullable: true
            - $ref: '#/components/schemas/annotation'
        name:
          type: string
          description: Human-readable name of the meta-analysis.
          nullable: true
        description:
          type: string
          description: Long form description of the meta-analysis.
          nullable: true
        cached_studyset_id:
          type: string
          description: The id of the studyset on neurosynth-compose (as opposed to the id of the studyset on neurostore). Multiple snapshots of the studyset can be stored on neurosynth-compose so knowing which snapshot is being referenced is necessary.
          x-stoplight:
            id: 5umhos11daq87
          writeOnly: true
        cached_annotation_id:
          type: string
          description: The id of the annotation on neurosynth-compose (as opposed to the id of the annotation on neurostore). Multiple snapshots of the annotation can be stored on neurosynth-compose so knowing which snapshot is being referenced is necessary.
          x-stoplight:
            id: vsgca0e0vmu2n
          writeOnly: true
        results:
          description: 'array of neurostore ids representing the results of this meta-analysis (nominally all results should be the same, but machine architecture differences/algorithm stochastic-ness may lead to slightly different outcomes for each result.'
          oneOf:
            - minItems: 1
              items:
                $ref: '#/components/schemas/result-return'
              type: array
            - items:
                type: string
              type: array
        provenance:
          type: object
          nullable: true
        project:
          type: string
          nullable: true
        run_key:
          type: string
          x-stoplight:
            id: 1djoqtpdnobc7
          description: |
            a special key used to upload the results of this meta analysis. Can be used as an alternative to using your auth token from login.
          readOnly: true
        neurostore_analysis:
          $ref: '#/components/schemas/neurostore-analysis'
          nullable: true
        cognitive_contrast_cogatlas:
          type: string
          x-stoplight:
            id: ufakjy2n7rvpo
          nullable: true
        cognitive_contrast_cogatlas_id:
          type: string
          x-stoplight:
            id: 8pf6m3tuu8rfi
          nullable: true
        cognitive_paradigm_cogatlas:
          type: string
          x-stoplight:
            id: brbykccgggqb8
          nullable: true
        cognitive_paradigm_cogatlas_id:
          type: string
          x-stoplight:
            id: sdiexwaai5l1g
          nullable: true
        cached_studyset:
          type: string
          x-stoplight:
            id: hg5kvvz31sw5j
          nullable: true
          readOnly: true
        cached_annotation:
          type: string
          x-stoplight:
            id: 262rx5ainvdaa
          nullable: true
          readOnly: true
        neurostore_url:
          type: string
          x-stoplight:
            id: 22t51v0in1cmh
          nullable: true
          readOnly: true
    annotation:
      title: annotation
      type: object
      x-tags:
        - annotations
      description: a holder/reference to the annotation on neurostore
      properties:
        neurostore_id:
          type: string
          description: the id of the annotation on neurostore
        snapshot:
          type: object
          description: the snapshot taken of the annotation pending a successful run of the meta-analytic algorithm
          nullable: true
        studyset:
          type: string
          description: The related cached studyset to this annotation.
          readOnly: true
        neurostore_url:
          type: string
          x-stoplight:
            id: 4kh3z3xnthvk9
          readOnly: true
    studyset:
      title: studyset
      type: object
      x-tags:
        - studysets
      properties:
        neurostore_id:
          type: string
          description: The id of the studyset on neurostore.
        snapshot:
          type: object
          description: The snapshot of the studyset pending a successful run of the meta-analysis.
          nullable: true
        neurostore_url:
          type: string
          x-stoplight:
            id: n2e040pj1uxc0
          readOnly: true
    user:
      title: user
      type: object
      properties:
        external_id:
          type: string
      description: attributes of the user object
      x-tags:
        - users
    read-only:
      title: read-only
      type: object
      properties:
        id:
          type: string
          description: the identifier for the resource.
        updated_at:
          type: string
          format: date-time
          description: when the resource was last modified.
          nullable: true
          readOnly: true
        created_at:
          type: string
          format: date-time
          description: When the resource was created.
          readOnly: true
        user:
          type: string
          description: Who owns the resource.
          nullable: true
        username:
          type: string
          x-stoplight:
            id: ouvs9x75ist5w
          nullable: true
          readOnly: true
    specification-return:
      title: specification-return
      allOf:
        - $ref: '#/components/schemas/specification'
        - $ref: '#/components/schemas/read-only'
      description: The view of the specification through an endpoint.
      x-tags:
        - specifications
    specification-list:
      title: specification-list
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/specification-return'
        metadata:
          $ref: '#/components/schemas/metadata'
      description: The representation of a list of specifications.
      x-tags:
        - specifications
    annotation-return:
      title: annotation-return
      allOf:
        - $ref: '#/components/schemas/annotation'
        - $ref: '#/components/schemas/read-only'
      x-tags:
        - annotations
    annotation-list:
      title: annotation-list
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/annotation-return'
        metadata:
          $ref: '#/components/schemas/metadata'
      x-tags:
        - annotations
    studyset-return:
      title: studyset-return
      allOf:
        - $ref: '#/components/schemas/studyset'
        - $ref: '#/components/schemas/read-only'
      x-tags:
        - studysets
    studyset-list:
      title: studyset-list
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/studyset-return'
        metadata:
          $ref: '#/components/schemas/metadata'
      x-tags:
        - studysets
    meta-analysis-return:
      title: meta-analysis-return
      allOf:
        - $ref: '#/components/schemas/meta-analysis'
        - $ref: '#/components/schemas/read-only'
      x-tags:
        - meta_analyses
    meta-analysis-list:
      title: meta-analysis-list
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/meta-analysis-return'
        metadata:
          $ref: '#/components/schemas/metadata'
      x-tags:
        - meta_analyses
    user-return:
      title: user-return
      allOf:
        - $ref: '#/components/schemas/user'
        - $ref: '#/components/schemas/read-only'
      x-tags:
        - users
    user-list:
      title: user-list
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/user-return'
        metadata:
          $ref: '#/components/schemas/metadata'
      x-tags:
        - users
    metadata:
      title: metadata
      type: object
    annotation-update:
      title: annotation-post
      allOf:
        - type: object
          properties:
            cached_studyset_id:
              type: string
              x-stoplight:
                id: o1xgfte8bodzp
              writeOnly: true
        - $ref: '#/components/schemas/annotation'
      x-tags:
        - annotations
    specification-post-body:
      title: specification-post-body
      allOf:
        - $ref: '#/components/schemas/specification'
        - {}
      x-tags:
        - specifications
    annotation-post-body:
      title: annotation-post-body
      allOf:
        - $ref: '#/components/schemas/annotation-update'
        - required:
            - cached_studyset_id
      x-tags:
        - annotations
    studyset-post-body:
      title: studyset-post-body
      allOf:
        - $ref: '#/components/schemas/studyset'
        - required:
            - neurostore_id
      x-tags:
        - studysets
    meta-analysis-post-body:
      title: meta-analysis-post-body
      allOf:
        - $ref: '#/components/schemas/meta-analysis'
        - required:
            - cached_annotation_id
            - cached_studyset_id
            - specification
      x-tags:
        - meta_analyses
    result:
      title: result
      type: object
      description: describes the output of a meta-analysis
      x-tags:
        - meta_analyses
      properties:
        meta_analysis_id:
          type: string
          description: the meta analysis this result was derived from.
        cli_version:
          type: string
          description: |
            version of the command-line-tool that is uploading the results.
          nullable: true
        neurovault_collection:
          $ref: '#/components/schemas/neurovault-collection-return'
        methods_description:
          type: string
          x-stoplight:
            id: gyyfasu3c7qgj
          description: the description of the methods applied to create this result.
          nullable: true
        diagnostic_table:
          type: string
          x-stoplight:
            id: a5ngt7ya2s7ml
          description: a text representation of a tsv that marks the contribution of each study to each particular cluster.
          nullable: true
        cli_args:
          type: object
          x-stoplight:
            id: xlbb9tg78ypbi
          description: |
            additional parameters that were passed to the commandline tool at runtime.
          nullable: true
        status:
          type: string
          x-stoplight:
            id: ojkan45ot796m
          nullable: true
    result-return:
      title: result-return
      allOf:
        - $ref: '#/components/schemas/result'
        - $ref: '#/components/schemas/read-only'
      x-tags:
        - meta_analyses
    result-list:
      title: result-list
      type: object
      x-tags:
        - meta_analyses
      properties:
        results:
          oneOf:
            - items:
                $ref: '#/components/schemas/result-return'
              minItems: 1
              type: array
            - items:
                type: string
              type: array
        metadata:
          $ref: '#/components/schemas/metadata'
    neurovault-collection:
      title: neurovault-collection
      type: object
      x-tags:
        - neurovault
      properties:
        collection_id:
          type: string
          nullable: true
          readOnly: true
        files:
          oneOf:
            - minItems: 1
              items:
                $ref: '#/components/schemas/neurovault-file'
              type: array
            - items:
                type: string
              type: array
        url:
          type: string
          x-stoplight:
            id: twf8h1kfifrco
          nullable: true
    neurovault-file:
      title: neurovault-file
      type: object
      x-tags:
        - neurovault
      properties:
        collection_id:
          type: string
          nullable: true
        exception:
          type: string
          nullable: true
        traceback:
          type: string
          nullable: true
        status:
          type: string
        image_id:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        url:
          type: string
          x-stoplight:
            id: dnswh7xk0mlu9
          nullable: true
    neurovault-collection-return:
      title: neurovault-collection-return
      allOf:
        - $ref: '#/components/schemas/neurovault-collection'
        - $ref: '#/components/schemas/read-only'
      x-tags:
        - neurovault
    neurovault-list:
      title: neurovault-list
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/neurovault-collection-return'
        metadata:
          $ref: '#/components/schemas/metadata'
      x-tags:
        - neurovault
    neurovault-file-return:
      title: neurovault-file-return
      allOf:
        - $ref: '#/components/schemas/neurovault-file'
        - $ref: '#/components/schemas/read-only'
      x-tags:
        - neurovault
    neurovault-file-list:
      title: neurovault-file-list
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/neurovault-file-return'
        metadata:
          $ref: '#/components/schemas/metadata'
      x-tags:
        - neurovault
    project:
      title: project
      x-tags:
        - projects
      type: object
      properties:
        provenance:
          type: object
          nullable: true
        meta_analyses:
          oneOf:
            - minItems: 1
              items:
                $ref: '#/components/schemas/meta-analysis'
              type: array
            - items:
                type: string
              type: array
        name:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        public:
          type: boolean
          x-stoplight:
            id: 5l1dh6afdc5pv
          description: whether the project is public or private
        neurostore_study:
          $ref: '#/components/schemas/neurostore-study'
        neurostore_url:
          type: string
          x-stoplight:
            id: mfk6853ojk4kk
          nullable: true
    project-return:
      allOf:
        - $ref: '#/components/schemas/read-only'
        - $ref: '#/components/schemas/project'
          x-stoplight:
            id: bbxnz8dopvj1b
      x-tags:
        - projects
    project-list:
      title: project-list
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/project-return'
        metadata:
          $ref: '#/components/schemas/metadata'
      x-tags:
        - projects
    neurostore-study:
      title: neurostore-study
      x-stoplight:
        id: z4zw7ohgt8v57
      type: object
      properties:
        neurostore_id:
          type: string
          x-stoplight:
            id: gk2igdiaddu99
          nullable: true
          readOnly: true
        analyses:
          type: array
          x-stoplight:
            id: x05fzrq0xkq7y
          items:
            $ref: '#/components/schemas/neurostore-analysis'
        exception:
          type: string
          x-stoplight:
            id: mhtkjy5hapnyh
          nullable: true
        traceback:
          type: string
          x-stoplight:
            id: cs8vznwd2tmzt
          nullable: true
        status:
          type: string
          x-stoplight:
            id: haar1h2j2j0xy
          nullable: true
    neurostore-study-return:
      title: neurostore-study-return
      x-stoplight:
        id: 65xu2guz65gfe
      allOf:
        - $ref: '#/components/schemas/neurostore-study'
        - $ref: '#/components/schemas/read-only'
          x-stoplight:
            id: xw8753s5g7fil
    neurostore-study-list:
      type: object
      x-stoplight:
        id: 37ac20ef62547
      properties:
        results:
          type: array
          x-stoplight:
            id: taugpbd1m1ijr
          items:
            $ref: '#/components/schemas/neurostore-study-return'
            x-stoplight:
              id: i3nvt2mfktv8a
        metadata:
          $ref: '#/components/schemas/metadata'
          x-stoplight:
            id: v2lgxit1izwqb
      title: neurostore-study-list
    neurostore-analysis:
      title: neurostore-analysis
      x-stoplight:
        id: bkl08nw9b6ljn
      type: object
      properties:
        neurostore_id:
          type: string
          x-stoplight:
            id: 8ggmq4xak40fi
          nullable: true
          readOnly: true
        exception:
          type: string
          x-stoplight:
            id: uioiqm9htn8f5
          nullable: true
        traceback:
          type: string
          x-stoplight:
            id: bip20zsr6l7wq
          nullable: true
        status:
          type: string
          x-stoplight:
            id: eib7hr774pxen
          nullable: true
    result-upload:
      title: result-upload
      x-stoplight:
        id: feleyqwhqeke5
      type: object
      properties:
        statistical_maps:
          type: array
          x-stoplight:
            id: lkxyrr8tetdd0
          format: byte
          items:
            x-stoplight:
              id: 863sfmz4qo0tw
            type: string
            format: byte
            writeOnly: true
        cluster_tables:
          type: array
          x-stoplight:
            id: f9w2vqez2fskv
          items:
            x-stoplight:
              id: ufm97m0f563yj
            type: string
            format: byte
            writeOnly: true
        diagnostic_tables:
          type: array
          x-stoplight:
            id: tzdedwx8qdj37
          items:
            x-stoplight:
              id: 5uiu0p99l9s05
            type: string
            format: byte
            writeOnly: true
        method_description:
          type: string
          x-stoplight:
            id: vaj7hv8uacxth
          writeOnly: true
    result-init:
      title: result-init
      x-stoplight:
        id: 5jzd4ahec4i6m
      type: object
      properties:
        meta_analysis_id:
          type: string
          x-stoplight:
            id: jbludrenxdfdl
        studyset_snapshot:
          type: object
          x-stoplight:
            id: 034jmd5z1k2pm
        annotation_snapshot:
          type: object
          x-stoplight:
            id: 2ybs3z7bw47p1
        cli_version:
          type: string
          x-stoplight:
            id: jl2m62skyazrg
    studyset-reference:
      title: studyset-reference
      x-stoplight:
        id: 4ck154dc5tklb
      type: object
      properties:
        snapshots:
          type: array
          x-stoplight:
            id: h20wq8miy4mdl
          items:
            x-stoplight:
              id: dwig8g1opu989
            oneOf:
              - type: string
                x-stoplight:
                  id: mjq9g1kygu2z1
              - $ref: '#/components/schemas/studyset'
    studyset-reference-return:
      title: studyset-reference-return
      x-stoplight:
        id: 0i6hurlz2rpts
      allOf:
        - $ref: '#/components/schemas/studyset-reference'
        - $ref: '#/components/schemas/read-only'
    studyset-reference-list:
      title: studyset-reference-list
      x-stoplight:
        id: okhi8rg7azb97
      type: object
      properties:
        results:
          type: array
          x-stoplight:
            id: aavkrqap4jrz6
          items:
            $ref: '#/components/schemas/studyset-reference-return'
        metadata:
          $ref: '#/components/schemas/metadata'
  securitySchemes:
    JSON-Web-Token:
      type: http
      scheme: bearer
    upload_key:
      type: apiKey
      in: header
      name: Compose-Upload-Key
  parameters:
    nested:
      name: nested
      in: query
      required: false
      schema:
        type: boolean
      description: show nested component instead of id
  responses:
    bad-request:
      description: form when a request goes wrong
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              detail:
                type: string
              status:
                type: integer
              title:
                type: string
              type:
                type: string
tags:
  - name: annotations
  - name: compose
  - name: get
  - name: meta_analyses
  - name: neurovault
  - name: post
  - name: projects
  - name: put
  - name: specifications
  - name: studysets
  - name: users
